.ant-layout-header {
  background: skyblue;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 64px;
  padding: 4px 24px ;
  box-sizing: border-box;
}

.header .user-wrap {
  width: 56px;
  height: 56px;
  overflow: hidden;
}