.ant-layout-header {
  background: skyblue;
}

.ant-popover {
  top: 36px !important;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 64px;
  padding: 4px 24px ;
  box-sizing: border-box;
}

.header .user-wrap {
  display: flex;
  /* width: 56px; */
  height: 56px;
  overflow: hidden;
}

.user-wrap .user-info {
  display: flex;
  margin-left: 10px;
  color: #FFFFFF;
}

.user-info .username {
  margin: 0 15px;
}

.user-info .logout {
  margin: 0 10px;
  color: skyblue;
  cursor: pointer;
}

.edit-p {
  cursor: pointer;
}